<h1>新規クローラー登録ページ</h1>

      <div class ="row">                              <!--<div containerはapplicationにすでに書いてあるのでrowのみ-->
         <div class="col-md-6 col-md-offset-3">       <!--offset-3いまいち分からず-->
             <%= form_for(@page) do |f| %>            <!--構文＝form_for(モデルオブジェクト [, オプション]) do |f| end  なんでresources書かないと動かないのか??-->  

                 <%= f.label "登録URL" %>             <!--大文字にならない…-->
                 <%= f.text_field :url, class: "form-control" %>
            
                 <%= f.label "名前" %>
                 <%= f.text_field :name, class: "form-control" %>
             
                 
                 <%= f.label "instagarmページですか?" %>
                 <%= f.check_box  :is_insta, checked_value = "1", unchecked_value = "0",  class: 'form-control' %>
                 
            
                 <%= f.submit "クロールページへ追加", class: "btn btn-large btn-primary" %>
                 
            <% end %>
         </div>
      </div>